
/*home*/
body {
  /*margin: 30px !important;*/
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #FFFFFF;
}
.h1class {
  width: 100%;
  height: auto;
  margin: 2% 0;
  color: #994000 !important;
  font-size: 20px;
  text-align: center;
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-decoration:none !important;
}
.h1class a{
  text-decoration:none !important;
  color: red !important;

}
.h1class a:hover{
  text-decoration:none !important;
  color: rgb(214, 60, 60) !important;

}
/*by me to decrease width but keep as important because col-sm-6 is  more priority*/
.container {
  margin:0 auto; /* this will center the page */
  margin-left: 100px;
  width:300px; /*  use your width here */
}
.h3class {
  display: block;
  font-size: 1.5em !important;
  margin-bottom: 30px !important;
  font-weight: bold !important;
 /* text-align: center;*//* only for mobile*/

}
.h3classHeadingOfEachSectiontext{
  display: block;
  font-size: 1.5em !important;
  margin-bottom: 30px !important;
  font-weight: bold !important;
}
.spacingClass{
  margin-top: 30px;
}
.descriptiontext {
    width:75%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.h6class {
  display: block;
  font-size: 1.0em !important;
  margin-bottom: 30px !important;
  font-weight: 300 !important;
 /* text-align: center;*//* only for mobile*/

}
.topnav {
  overflow: hidden;
  background-color: #5404aa;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
footer {
  background-color: #5404aa;
  color: #fff;
  padding: 10px;
  text-align: center;
}
/* code for pushing footer to bottom */
.flex-wrapper {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: space-between;
}
main {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
input[type="text"] {
  width: 75%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #10502e;
  font-size: 16px;
  border-radius: 5px;
}
.optclass {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;

}
#form {
  background-color: #fff;
  border: 1px solid #101d50;
  padding: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
img.responsive {
    width: 110%;
    border: 1px solid #101d50;
    padding: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"]:hover {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .container {
    margin:0 auto; /* this will center the page */
    width:300px; /*  use your width here */
  }
  /*hidding map in css*/
  img.responsive {
    display: none;
  }
  .h3class {
    display: block;
    font-size: 1.5em !important;
    margin-bottom: 30px !important;
    font-weight: bold !important;
    text-align: center;
  
  }
  .h3classHeadingOfEachSectiontext{
    display: block;
    font-size: 1.5em !important;
    margin-bottom: 30px !important;
    font-weight: bold !important;
  }
  .descriptiontext {
    width:100%;
    
}
}

/*listing class*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 75%;
  border: 1px solid #ddd;
}
table, th, td {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-width: 1px !important;
}
.allignmentClass{
  margin-left: 145px;
}

th, td {
  text-align: left;
  padding: 8px;
}

.th-class {
  border-color: black;
  background-color: green;
  padding-left: 80px;
  color:white
}
.td-class {
  padding-left: 75px;
}

td {
  border-color: black;

}
tr:nth-child(even){background-color: #fff}
tr:nth-child(odd){background-color: #ddd}

.highlighttext{
  color:red !important;
  cursor: pointer;
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 0px;
  text-decoration: underline;
  
}

.highlighttext:hover{
  color: blue !important;
}
@media screen and (max-width: 600px) {
  .th-class {
    padding-left: 9px;
  }
  .td-class {
    padding-left: 8px;
  }
  .allignmentClass{
    margin-left: 0px;
  }
  
}

/*detailing page css*/
.buttonclass{
  width:100%;
  background-color: #ffffff;
  border: 1px solid !important;/* border: 0px solid !important for double line in button*/
  background-color:#ecf4ec

}
.td-classbutton{
  border: 0px solid !important;
  background-color:#ecf4ec;

}
.highlighttextaddclassforpadding{
  margin-left: 145px;
}
@media screen and (max-width: 600px) {
  .highlighttextaddclassforpadding{
      margin-left: 0px;
  }
}
/* pagination */
.pagination-container {
  display: flex;
  list-style-type: none;
}
  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
    cursor: pointer;
  }
    .dots:hover {
      background-color: transparent;
      cursor: pointer;
    }
    

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.selected {
  background-color: rgba(0, 0, 0, 0.08);
}

.arrow {
    position: relative;
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgba(0, 0, 0, 0.87);
    border-top: 0.12em solid rgba(0, 0, 0, 0.87);
  }

  .left {
    transform: rotate(-135deg) translate(-50%);
  }

  .right {
    transform: rotate(45deg);
  }


.disabled {
  pointer-events: none;
}
  .arrow::before {
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
  }
/* detailsbusjourney page*/
  .stop-container {
    outline: 0;
    /*padding: 24px 60px;*/
    position: relative;
    display: table;
    width: 100%;
}
.stop-wrapper {
  display: table-cell;
  margin-bottom: 6px;
}
ul.experiences li {
  position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
  /* use padding-bottom instead of margin-bottom.*/ 
  margin-bottom: 0; /* This overrides previously specified margin-bottom */
  padding-bottom: 2.5em;
}

ul.experiences li:after {
  /* bullets */
  content: url('http://upload.wikimedia.org/wikipedia/commons/thumb/3/30/RedDisc.svg/20px-RedDisc.svg.png');
  position: absolute;
  left: -26px; /*adjust manually*/
  top: 0px;
}

ul.experiences li:before {
  /* lines */
  content:"";
  position: absolute;
  left: -16px; /* adjust manually */
  border-left: 1px solid black;
  height: 100%;
  width: 1px;
}

ul.experiences li:first-child:before {
 /* first li's line */
 top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.experiences li:last-child:before {
  /* last li's line */
 height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}
.schedule-link {
  color: blue;
  border: none;
  display: inline-block;
  font-size: .7647058824rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 5px;
  background: 0 0;
  text-decoration: underline;
  padding: 0;
  font-family: roboto,helvetica,sans-serif;
  cursor: pointer;
}
/* loader */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /* Ensure the loader is on top of other elements */
}

.loader {
  border: 8px solid #f3f3f3; /* Light gray border */
  border-top: 8px solid #db4d34; /* Blue border on top */
  border-radius: 50%;
  width: 6px;
  height: 6px;
  animation: spin 2s linear infinite;
  position: fixed;
        top: 50%;
        left: 50%;
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 10px; /* Remove margins */

  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}
ul.no-bullets a{

  color:red;
  text-decoration:none

}
ul.no-bullets a:hover{

  color:green;
  text-decoration:none

}

.agencies-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.agency-group {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #292a30;
}

#button{
  padding: 10px;
  /*border: 10px;
  background: none;*/
  background-color: #fff;
  margin:10px
}

@media screen and (max-width: 767px) {
  ul.no-bullets {

    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
